html {
	background-color: yellow;
}

body {
    margin: 0;
}

header {
    background: orchid;
    height: 100px;
}

h1 {
	background-color: purple;
    	text-align: center;
    	color: #000;
    	line-height: 100px;
    	margin: 0;
}

h2 {
	background-color: crimson;
	text-align: center;
    	color: #000;
    	line-height: 40px;
    	margin: 0;
}

article {
    padding: 10px;
    margin: 10px;
    background: aqua;
}

/* Flex Containers */

.flex-container {
	display: flex;
}

.flex-div {
	flex: 1 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.flex-article {
	flex: 3 210px;
	flex-flow: column;
}

article {
	flex: 1 200px;
}

button {
	border: blue;
 	color: white;
 	padding: 15px 32px;
 	text-align: center;
 	display: inline-block;
 	font-size: 24px;
 	margin: 4px 2px;
 	cursor: pointer;
	background-color: #FFA500;
}

footer {
	display: inline;
	padding: 100pc;
}
